- content_for :popups do
  #version-diff-popup.popup{ :style => "display:none" }
    .popup_title
      = t('version')
      %span#version-number

    #version-diff= "Version diff goes here"
    .buttons
      = link_to_function t('cancel'), "$(this).closePopup()", :class=>"cancel"
      